<div>
  <div class="card mb-3 card-show">
    <img class="image-show" <%= cl_image_tag @tool.photo.key %>>
    <div class="card-body">
      <h5 class="card-title"><%=@tool.name%></h5>
      <p class="card-text"><%=@tool.description%></p>
      <p class="card-text"><small class="text-muted"><%=@tool.daily_price%>€</small></p>
    </div>
  </div>
</div>
