  <body>
  <div class= "container">
  <br>
  <div class="hometitle">
  <h1>WELCOME TO TOOLS!</h1>
  </div>
<br>
  <div class= "banner">
    <%= image_tag "tondeuse-home-tools.jpg", alt: "tondeuse", class: "homepic" %>
   <div class="text">
      <h2>LOUEZ VOTRE TONDEUSE <br>AUX PORTES DE VOTRE JARDIN</h2>
   </div>
   <%# <a href="https://tools.cleverapps.io/tools" class="btn btn-info" role="button">VOIR LES TONDEUSES</a> %>
   <%= link_to "VOIR LES TONDEUSES", "tools", class: "btn btn-flat" %>
  </div>

  <div class="flex-container">
    <div class="flex-item">LOUEZ LOCALEMENT <i class="fas fa-map-marked-alt"></i></div>
    <div class="flex-item">LOUEZ IMMEDIATEMENT <i class="fas fa-tachometer-alt"></i></div>
    <div class="flex-item">LOUEZ ASTUCIEUSEMENT <i class="fas fa-clipboard-check"></i></div>
  </div>
<br>
<%= image_tag "logo-carre-vert.png", alt: "logo-tools", class: "logo-gros" %>
<br>
<br>

<div class="explication">
  <h2>TOOLS, pour les jardiniers du dimanche au samedi !</h2>
</div>
  <div class= "introduction"> <p>Vous n'avez pas de tondeuse.<br>Vous ne voulez pas en posséder une car vous estimez que son usage est trop occasionnel.<br>Vous voulez tondre votre pelouse demain mais votre tondeuse est cassée.<br>
Vous êtes jardinier amateur ou passionné.<br><strong>TOOLS vous permet de louer une tondeuse entre particulier, localement, immédiatement et astucieusement !</strong></p></div>
<br>
<br>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://us.123rf.com/450wm/rastudio/rastudio1601/rastudio160102332/50784123-un-agriculteur-conduisant-un-vecteur-de-tracteur-design-plat-illustration-isol%C3%A9-sur-fond-blanc-.jpg?ver=6)">
    Tondeuse autoportée
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://image.freepik.com/vecteurs-libre/jardinier-homme-tondeuse-gazon_1366-613.jpg)">
    Tondeuse manuelle
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://static.vecteezy.com/system/resources/previews/000/424/547/non_2x/vector-farmer-man-cutting-grass-with-mower.jpg)">
    Tondeuse électrique
  </div>
</div>
<br>
<br>
<br>


  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>




  </div>
  </body>
</html>
