<html>
  <head>
  </head>

  <body>
  <div class=container>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="..." alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="..." alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="..." alt="Third slide">
    </div>
  </div>
</div>

  <img src="tondeuse-home-tools.jpg" alt="tondeuse">
  <h1>WELCOME IN TOOLS!</h1>

  <div class= bouton>
  <h2>Clique sur le bouton ci-dessous
  pour voir toutes les tondeuses<h2>

  <button type="button" class="btn btn-primary">Primary</button>
  </div>

  <br>
  <br>
  <br>


  <h2>TOOLS, l'application des jardiniers</h2>
  <p>Bonjour et bienvenue dans Tools.
  Ce site permettra à tous les jardiniers du dimanche
  ainsi qu'aux plus grands passionnés de <strong>louer
  sa tondeuse à gazon localement.</strong></p>

  <br>
  <br>
  <br>

  <h2>TOOLS, l'application pour louer toutes sortes de tondeuses</h2>
  <ul>
  <li>tondeuse manuelle</li>
  <li>tondeuse électrique</li>
  <li>tondeuse hybride</li>




  </div>
  </body>
</html>
