  <body>
  <div class= "container">
  <h1>WELCOME IN TOOLS!</h1>

  <div class= "banner">
    <%= image_tag "tondeuse-home-tools.jpg", alt: "tondeuse", class: "homepic" %>
   <div class="text">
      <h2>LOUEZ VOTRE TONDEUSE <br>AUX PORTES DE VOTRE JARDIN</h2>
   </div>
   <%# <a href="https://tools.cleverapps.io/tools" class="btn btn-info" role="button">VOIR LES TONDEUSES</a> %>
   <%= link_to "VOIR LES TONDEUSES", "https://tools.cleverapps.io/tools", class: "btn btn-flat" %>
  </div>

  <br>

  <div class="flex-container">
    <div class="flex-item">LOUEZ LOCALEMENT <i class="fas fa-map-marked-alt"></i></div>
    <div class="flex-item">LOUEZ IMMEDIATEMENT <i class="fas fa-tachometer-alt"></i></div>
    <div class="flex-item">LOUEZ ASTUCIEUSEMENT <i class="fas fa-clipboard-check"></i></div>
  </div>
<br>
<br>
<%= image_tag "logo-carre-vert.png", alt: "logo-tools", class: "logo-gros" %>
<br>
<br>

  <h2>TOOLS, pour les jardiniers du dimanche au samedi !</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt volutpat porttitor. Proin facilisis, magna quis convallis ultricies, urna purus porttitor tortor, egestas pharetra ex orci sit amet tortor.<strong> Integer consectetur ante luctus laoreet euismod. Phasellus maximus augue dolor, ut congue nibh vestibulum in. Sed imperdiet neque sed augue varius elementum.</strong> Aliquam erat volutpat. Aenean sagittis velit dictum, aliquet nunc et, vestibulum tortor. Vivamus ornare euismod rhoncus. Fusce mauris purus, ultricies quis viverra sit amet, semper sit amet tellus.<strong>Ut eu accumsan nunc, feugiat dictum orci. </strong></p>
<br>
<br>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://static.vecteezy.com/system/resources/thumbnails/000/175/403/small/lawn_mower-01.jpg)">
    Tondeuse tracteur
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://st2.depositphotos.com/4214051/7320/v/950/depositphotos_73205215-stock-illustration-girl-using-lawn-mower-mows.jpg)">
    Tondeuse manuelle
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.gettyimages.com/vectors/mowing-the-lawn-vector-id966257502?s=170667a)">
    Tondeuse électrique
  </div>
</div>
<br>
<br>
<br>


  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>




  </div>
  </body>
</html>
