.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.tag a {

  color: rgba(102, 141, 107, 0.5) !important;

}

.tag-nav a {
  color: #F4F4F4 !important;
  text-decoration: none;
}
