.avatar-navbar img {
  // border-radius: 50%;
  width: 240px;
  // border: solid 0.1em;
  // border-color:hsla(60, 90%, 50%, .8);
}
.avatar-navbar img:hover {
  box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.85);
  border-radius: 50px;
}

.avatar:hover {
   box-shadow: 0px 0px 8px 8px rgba(255,255,255,0.85);
}
.navbar-color {
  justify-content: space-between;
  background: rgba(102, 141, 107, 0.5);
}

.btn-login {
  border-radius: 8px;
   //background-color: #ADC1B0;
   //display: flex;
  //border: solid 0.1em;
  //border-color:hsla(60, 90%, 50%, .8);
  //box-shadow: 0 14px 28px rgba(102, 141, 107, 0.5), 0 8px 8px rgba(0, 0, 0, 0.22);
  transition: .3s all ease-in-out;
  color: #ADC1B0;
}

.btn-login a {
  color: #ADC1B0;
  //text-decoration: rgba(102, 141, 107, 0.5);
}


.btn-login:hover {
  box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.85);
}

.menu-avatar {
  margin: 24px 0px 100px 100px;
  padding: 16px 16px 16px 16px;
  border-radius: 8px;
  box-shadow: 8px 8px 4px 4px rgba(102, 141, 107, 0.5);
  border-color: rgba(102, 141, 107, 0.5);
}

.search {
  display: flex;
}


