.btn.btn-flat {
  background: rgb(245, 213, 29);
  position: absolute;
  left: 45%;
  bottom: 7rem;
  color: rgb(97, 97, 97);
  font-family: arial;
  font-weight: bold;
  font-size: 20px;
  border-color: white;
  border-radius: 30px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
