.new-form {
  text-align: center;
  padding: 80px 400px 80px 400px;
}

.text-form {
  border-radius: 8px;
  border: solid 0.2em;
  border-color: rgba(102, 141, 107, 0.5) hsla(60, 90%, 50%, .8) rgba(102, 141, 107, 0.5) hsla(60, 90%, 50%, .8);
}

