.card-show {
  background-position: center;
  height: 180px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-top: 500px;
}

.image-show {
  background-size: cover;
  border-radius: 8px;
}
