// .card-show {
//   background-position: center;
//   height: 180px;
//   justify-content: center;
//   align-items: center;
//   color: white;
//   font-size: 24px;
//   font-weight: bold;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   border-radius: 8px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   padding-top: 500px;
// }

// .image-show {
//   background-size: cover;
//   border-radius: 8px;

// }

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border-radius: 16px;
}

.btn-tool {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn-tool:hover {
  background-color: rgba(255, 255, 255, 0.12);
}


.cards_item-tool {
  display: flex;
  padding: 1rem;
}

.card-tool {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align:center;

  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.card_content-tool {
  padding: 1rem;
  background: linear-gradient(to bottom left, rgba(102, 141, 107, 0.5) 40%, rgba(1, 100, 100, 0.5) 100%);
}

.card_title-tool {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text-tool {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
  text-align:left;
}

// .made_by{
//   font-weight: 400;
//   font-size: 13px;
//   margin-top: 35px;
//   text-align: center;
// }
