.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: start;
}

.zoom:hover {
  zoom: 105%;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-align: left;
}

.card-product .card-product-infos {
  padding: 16px;
  font-family: arial;
}

.btn-del-edit {
  background-color: rgba(102, 141, 107, 0.5);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  color: #F4F4F4;
  margin-left: 4px;
}

.btn-del-edit:hover {
  transform: scale(1.1);
}

.back-list {
display:flex;
margin-left:8px;
}
